<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../parts/meta'); %>
  <title><%= title %></title>
</head>
<body>
  <%- include('../parts/nav'); %>
  <main>

  </main>
  <%- include('../parts/footer'); %>
  <%- include('../parts/scripts'); %>
</body>
</html>